<div class="new-collection-container">
    <div class="item-row">
        
        <a class="items" href="#" >
            <div class="item-img" >
                <img src=".\assets\item1.jpg" onmouseover="this.src='./assets/item1.2.jpg'" onmouseout="this.src='./assets/item1.jpg'" alt="" >
                <div class=item-note>NEW</div>
            </div>

            <div class="infor">
                <div class="content">
                    
                    <div class="item-color">Color:  
                    <i class="fas fa-circle " style="color:black "></i>
                    <i class="far fa-circle" style="color:black"></i>
                    <i class="fas fa-circle " style="color:red "></i>
                    </div>
            </div>
            <div class="item-btm"> 
                <div class="item-type">
                    Type
                    
                </div>
                <div class="item-name">
                    Name
                </div>
                <div class="item-price">
                    Price
                </div>
                
            </div>
            


            </div>
            
        </a>
        <a class="items" href="#" >
            <div class="item-img" >
                <img src=".\assets\item1.jpg" onmouseover="this.src='./assets/item1.2.jpg'" onmouseout="this.src='./assets/item1.jpg'" alt="" >
                <div class=item-note>NEW</div>
            </div>

            <div class="infor">
                <div class="content">
                    
                    <div class="item-color">Color:  
                    <i class="fas fa-circle " style="color:black "></i>
                    <i class="far fa-circle" style="color:black"></i>
                    <i class="fas fa-circle " style="color:red "></i>
                    </div>
            </div>
            <div class="item-btm"> 
                <div class="item-type">
                    Type
                    
                </div>
                <div class="item-name">
                    Name
                </div>
                <div class="item-price">
                    Price
                </div>
                
            </div>
            


            </div>
            
        </a>
        <a class="items" href="#" >
            <div class="item-img" >
                <img src=".\assets\item1.jpg" onmouseover="this.src='./assets/item1.2.jpg'" onmouseout="this.src='./assets/item1.jpg'" alt="" >
                <div class=item-note>NEW</div>
            </div>

            <div class="infor">
                <div class="content">
                    
                    <div class="item-color">Color:  
                    <i class="fas fa-circle " style="color:black "></i>
                    <i class="far fa-circle" style="color:black"></i>
                    <i class="fas fa-circle " style="color:red "></i>
                    </div>
            </div>
            <div class="item-btm"> 
                <div class="item-type">
                    Type
                    
                </div>
                <div class="item-name">
                    Name
                </div>
                <div class="item-price">
                    Price
                </div>
                
            </div>
            


            </div>
            
        </a>
        <a class="items" href="#" >
            <div class="item-img" >
                <img src=".\assets\item1.jpg" onmouseover="this.src='./assets/item1.2.jpg'" onmouseout="this.src='./assets/item1.jpg'" alt="" >
                <div class=item-note>- 30%</div>
            </div>

            <div class="infor">
                <div class="content">
                    
                    <div class="item-color">Color:  
                    <i class="fas fa-circle " style="color:black "></i>
                    <i class="far fa-circle" style="color:black"></i>
                    <i class="fas fa-circle " style="color:red "></i>
                    </div>
            </div>
            <div class="item-btm"> 
                <div class="item-type">
                    Type
                    
                </div>
                <div class="item-name">
                    Name
                </div>
                <div class="item-price">
                    Price
                </div>
                
            </div>
            


            </div>
            
        </a>
        <a class="items" href="#" >
            <div class="item-img" >
                <img src=".\assets\item1.jpg" onmouseover="this.src='./assets/item1.2.jpg'" onmouseout="this.src='./assets/item1.jpg'" alt="" >
            </div>

            <div class="infor">
                <div class="content">
                    
                    <div class="item-color">Color:  
                    <i class="fas fa-circle " style="color:black "></i>
                    <i class="far fa-circle" style="color:black"></i>
                    <i class="fas fa-circle " style="color:red "></i>
                    </div>
            </div>
            <div class="item-btm"> 
                <div class="item-type">
                    Type
                    
                </div>
                <div class="item-name">
                    Name
                </div>
                <div class="item-price">
                    Price
                </div>
                
            </div>
            


            </div>

            
        </a>
        <a class="items" href="#" >
            <div class="item-img" >
                <img src=".\assets\item1.jpg" onmouseover="this.src='./assets/item1.2.jpg'" onmouseout="this.src='./assets/item1.jpg'" alt="" >
            </div>

            <div class="infor">
                <div class="content">
                    
                    <div class="item-color">Color:  
                    <i class="fas fa-circle " style="color:black "></i>
                    <i class="far fa-circle" style="color:black"></i>
                    <i class="fas fa-circle " style="color:red "></i>
                    </div>
            </div>
            <div class="item-btm"> 
                <div class="item-type">
                    Type
                    
                </div>
                <div class="item-name">
                    Name
                </div>
                <div class="item-price">
                    Price
                </div>
                
            </div>
            


            </div>
            
        </a>
        <a class="items" href="#" >
            <div class="item-img" >
                <img src=".\assets\item1.jpg" onmouseover="this.src='./assets/item1.2.jpg'" onmouseout="this.src='./assets/item1.jpg'" alt="" >
            </div>

            <div class="infor">
                <div class="content">
                    
                    <div class="item-color">Color:  
                    <i class="fas fa-circle " style="color:black "></i>
                    <i class="far fa-circle" style="color:black"></i>
                    <i class="fas fa-circle " style="color:red "></i>
                    </div>
            </div>
            <div class="item-btm"> 
                <div class="item-type">
                    Type
                    
                </div>
                <div class="item-name">
                    Name
                </div>
                <div class="item-price">
                    Price
                </div>
                
            </div>
            


            </div>
            
        </a>
        <a class="items" href="#" >
            <div class="item-img" >
                <img src=".\assets\item1.jpg" onmouseover="this.src='./assets/item1.2.jpg'" onmouseout="this.src='./assets/item1.jpg'" alt="" >
            </div>

            <div class="infor">
                <div class="content">
                    
                    <div class="item-color">Color:  
                    <i class="fas fa-circle " style="color:black "></i>
                    <i class="far fa-circle" style="color:black"></i>
                    <i class="fas fa-circle " style="color:red "></i>
                    </div>
            </div>
            <div class="item-btm"> 
                <div class="item-type">
                    Type
                    
                </div>
                <div class="item-name">
                    Name
                </div>
                <div class="item-price">
                    Price
                </div>
                
            </div>
            


            </div>
            
        </a>
        <a class="items" href="#" >
            <div class="item-img" >
                <img src=".\assets\item1.jpg" onmouseover="this.src='./assets/item1.2.jpg'" onmouseout="this.src='./assets/item1.jpg'" alt="" >
            </div>

            <div class="infor">
                <div class="content">
                    
                    <div class="item-color">Color:  
                    <i class="fas fa-circle " style="color:black "></i>
                    <i class="far fa-circle" style="color:black"></i>
                    <i class="fas fa-circle " style="color:red "></i>
                    </div>
            </div>
            <div class="item-btm"> 
                <div class="item-type">
                    Type
                    
                </div>
                <div class="item-name">
                    Name
                </div>
                <div class="item-price">
                    Price
                </div>
                
            </div>
            


            </div>
            
        </a>
        <a class="items" href="#" >
            <div class="item-img" >
                <img src=".\assets\item1.jpg" onmouseover="this.src='./assets/item1.2.jpg'" onmouseout="this.src='./assets/item1.jpg'" alt="" >
            </div>

            <div class="infor">
                <div class="content">
                    
                    <div class="item-color">Color:  
                    <i class="fas fa-circle " style="color:black "></i>
                    <i class="far fa-circle" style="color:black"></i>
                    <i class="fas fa-circle " style="color:red "></i>
                    </div>
            </div>
            <div class="item-btm"> 
                <div class="item-type">
                    Type
                    
                </div>
                <div class="item-name">
                    Name
                </div>
                <div class="item-price">
                    Price
                </div>
                
            </div>
            


            </div>
            
        </a>
        <a class="items" href="#" >
            <div class="item-img" >
                <img src=".\assets\item1.jpg" onmouseover="this.src='./assets/item1.2.jpg'" onmouseout="this.src='./assets/item1.jpg'" alt="" >
            </div>

            <div class="infor">
                <div class="content">
                    
                    <div class="item-color">Color:  
                    <i class="fas fa-circle " style="color:black "></i>
                    <i class="far fa-circle" style="color:black"></i>
                    <i class="fas fa-circle " style="color:red "></i>
                    </div>
            </div>
            <div class="item-btm"> 
                <div class="item-type">
                    Type
                    
                </div>
                <div class="item-name">
                    Name
                </div>
                <div class="item-price">
                    Price
                </div>
                
            </div>
            


            </div>
            
        </a>
        <a class="items" href="#" >
            <div class="item-img" >
                <img src=".\assets\item1.jpg" onmouseover="this.src='./assets/item1.2.jpg'" onmouseout="this.src='./assets/item1.jpg'" alt="" >
            </div>

            <div class="infor">
                <div class="content">
                    
                    <div class="item-color">Color:  
                    <i class="fas fa-circle " style="color:black "></i>
                    <i class="far fa-circle" style="color:black"></i>
                    <i class="fas fa-circle " style="color:red "></i>
                    </div>
            </div>
            <div class="item-btm"> 
                <div class="item-type">
                    Type
                    
                </div>
                <div class="item-name">
                    Name
                </div>
                <div class="item-price">
                    Price
                </div>
                
            </div>
            


            </div>
            
        </a>
    </div>
    

</div>
