.shose-type
{
    display:block;
    
    margin-top: 20px;
}

a 
{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
a:hover
{
    font-weight: bold;
}
select option
{
    z-index: 10;
    font-size: 15px;
    font-weight: 600px;
}

select
{
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    background-color: white;
}

.heading
{
    font-size: 17px;
    font-weight: 500;
}
.price-sort-item:hover
{  font-weight: 400;
  opacity: 0.7;
  cursor: context-menu;
}
i
{
    size: 20px;
}
.size-items input 
{
    /* width: 30px; */
    margin-right: 5px;
    border: 1px solid rgb(43, 41, 41);
    background-color: white;
    font-weight: 500;
}

.size-items input:hover
{
    background-color: rgb(135, 212, 206);
    opacity: 0.7;
    cursor: pointer;
    border: 1px solid black;
    
}


div a:hover
{
    cursor: pointer;
}

.size-items input
{
 margin: 5px;
}