
<div class="shose-type">
    <div><a  
        (click)="onclick('addidas')"
        >Addidas</a></div>
    <div><a (click)="onclick('nike')">Nike</a></div>
    <div><a (click)="onclick('sketcher')">Sketcher</a></div>
    
</div>
<hr>

<div class="filter" >
    <select [(ngModel)]="sort_type" (change)='selectChange(sort_type)' >
        <option value=""  >Sort item by:</option>
        <option value='1'>Highest price to lowest price</option>
        <option value='2'>Lowest price to highest price</option>
        <option value="3">Lastest</option>
        <option value="4">Oldest</option>
    </select>
    
</div>
<p>{{sort_type}}</p>
<hr>
<div class="heading">
    By Price 
    <div >
        <input type="checkbox" name="" id="">
        <span class="price-sort-item"> Under 379kn</span>
    </div>
    <div >
        <input type="checkbox" name="" id="">
        <span class="price-sort-item"> 380 kn - 769 kn</span>
    </div>
    <div >
        <input type="checkbox" name="" id="">
        <span class="price-sort-item"> 770 kn - 1149 kn</span>
    </div>
    <div >
        <input type="checkbox" name="" id="">
        <span class="price-sort-item"> Over 1150 kn</span>
    </div>
</div> 
    <hr>
    <div class="heading">
        On Sale
        <br>
        <div><input type="checkbox" name="" id=""> Sale</div>
        

    </div>
    <hr>

    <!-- <div class="heading">
        Color
        <div>
            <i class="fas fa-circle " style="color:black "></i>
            <i class="far fa-circle" style="color:black"></i>
            <i class="fas fa-circle " style="color:red "></i>
            <i class="fas fa-circle " style="color:rgb(18, 161, 18) "></i>
            <i class="fas fa-circle " style="color:rgb(0, 102, 255) "></i>
            <i class="fas fa-circle " style="color:rgb(255, 0, 170) "></i>
            <i class="fas fa-circle " style="color:rgb(238, 255, 0) "></i>
            
            

        </div>

    </div> -->
    <div class="heading">
        Size
        <div class="size-items">
            <input type="button" value="XS" name="Hi">
            <input type="button" value="X">
            <input type="button" value="M">
            <input type="button" value="L">
            <input type="button" value="XL">
            <input type="button" value="XXL">
        </div>
    </div>
