
<div id="nav-top">

  <div id="nav-left">
    <div class="flex" id= "nav-left-item"> <a href="">Download App</a></div>
    <div  class="flex" id= "nav-left-item"><a href=""><i class="fab fa-facebook"></i></a></div>
    <div  class="flex" id= "nav-left-item"><a href=""><i class="fab fa-instagram"></i></a></div>
  </div>

    <div id="nav-space"> </div>
    <div id="nav-right">
      <div id= "nav-right-item"> <a href=""><i class="fas fa-bell"></i> Notification</a></div>
      <div id= "nav-right-item"> <a href=""><i class="fas fa-question-circle"></i> Help</a></div>
      <div id= "nav-right-item"> <a href="">Register</a></div>
      <div id= "nav-right-item"> <a href="">Sign Up</a></div>
    </div>

</div>
<div id="nav-search">
  <div id="nav-search-container" >


  <div id="logo"><a href=""><i class="fas fa-shopping-bag"></i> MiniShop</a></div>
  
  <div id= "search-bar" >
    <div id="search-bar-top">
      <form id="search-input">
        <input class="form-control form-control-sm" type="text" placeholder="Search"
          aria-label="Search" >
        
        </form>
        <div id="search-btn"> <a href=""><i class="fas fa-search" aria-hidden="true" ></i>  </a></div>
      
    </div>
     
  
      <div id="search-bar-bottom">
      <a href="">Men</a>
      <a href="">Women</a>
      <a href="">Kids</a>  
      </div>

  </div>
  <div id= "shopping-icon"><a href=""><i class="fas fa-shopping-cart"></i></a> <div>
   </div>
  

</div>
