.heading
{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.note
{
    font-size: 20px;
    text-align: center;
}
label
{   display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 18px;
}
form input 
{
    display: block;
    
    width: 30%;

        margin-left: auto;
        margin-right: auto;
}
form span
{ display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.warning
{
    width: 30%;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    
    font-size: 10px;
    color: red;
}
.but
{
    margin-top: 20px;
}