
.left-container
{
    width: 20%;
    height:350px;
    
    float: left;
    position: relative;
    margin-top: 70px;
    padding-left: 20px;

}

.heading
{
    font-size: 40px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.item-row
{ 
    /* width: 90%; */
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
    flex-wrap: wrap;
    justify-content: start ;
}
.item1
{
    
 width: 200px;
 margin: 20px 20px;
 
  
}
.item1 img
{
 width: 100%;
 height: 225px;
 
 
}

