<div id="trending-container">
    <div id="trending-container-heading"> 
        Trending Now
    </div>

    <div id="trending-cards-containers">

    <div id="card-row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".\assets\sample1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">SHOP NOW</a>
            </div>
          </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".\assets\sample1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">SHOP NOW</a>
        </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".\assets\sample1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">SHOP NOW</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".\assets\sample1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title 4 </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">SHOP NOW</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".\assets\sample1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title 5 </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">SHOP NOW</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".\assets\sample1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">SHOP NOW</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".\assets\sample1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">SHOP NOW</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".\assets\sample1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">SHOP NOW</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".\assets\sample1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title 9</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">SHOP NOW</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".\assets\sample1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">SHOP NOW</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".\assets\sample1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">SHOP NOW</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".\assets\sample1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">SHOP NOW</a>
            </div>
          </div>
          

         

    </div>   
    
    <div id="trending-nav">
    <button id="btn-left" class="cards-btn" (click)="moveLeft()"><i class="fas fa-long-arrow-alt-left"></i></button>
    <button id="btn-right" class="cards-btn" (click)="moveRight()" ><i class="fas fa-long-arrow-alt-right"></i></button>
    </div>
    

    </div>

    

</div>
