<div id="more-container">

    
    <div class="more-item">
        <a [routerLink]="['/men-collection']" >
            <img src=".\assets\more1.png" alt="">

            <div class="carousel-caption d-none d-md-block">
                <div id="img-btn">Men's</div>
               
              </div>
        </a>
        
            
        
    </div>
    <div class="more-item">
        <a href="">
            <img src=".\assets\more2.png" alt="">

            <div class="carousel-caption d-none d-md-block">
                <div id="img-btn">Women's</div>
               
              </div>
        </a>
        
            
        
    </div><div class="more-item">
        <a href="">
            <img src=".\assets\more3.png" alt="">

            <div class="carousel-caption d-none d-md-block">
                <div id="img-btn">Kid's</div>
               
              </div>
        </a>
        
            
        
    </div>


</div>
